*{
  text-align: center;
  background-color: black;
  font-family: Verdana;
}

.header{
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.link{
  color: Aquamarine;
  font-size: 16px;
}

.subtitle{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.app-info{
  font-size: 21px;
  color: gray;
}

#copyright{
  text-align: right;
  color: gray;
}
